.budget{
    width: 85%;
    margin: 0 auto ;
    max-width: 1350px;
    margin-top: 30px;
}
.budget .overview-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 550;
    margin-bottom: 10px;
}
.budget .overview-title{
    width: 95%;
    margin: 0 auto ;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 550;
    margin-bottom: 10px;
}

.budget .overview-title span{
    color: var(--secondary-theme-2);
}
 .overview{
    box-shadow: var(--box-shadow-2);
    padding: 10px 10px 15px 10px ;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto 10px;
}
.overview .progress{
    background: var(--black-theme-2a);
    height: 13px;
    border-radius: 7px;
    width: 100%;
    margin: 5px 0 3px;
}
.overview .progress .progress-bar{
    transition:var(--transition-1) ;
    background: var(--secondary-theme-2);
    height: 13px;
    border-radius: 7px;
    margin: 5px 0 3px;
}
.overview .progress-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.overview .overview-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overview-info {
    font-size: 1.8rem;
    font-weight: 600;
}

.overview .clear-btn{
    text-align: center;
}
.overview .btn{
    transition: var(--transition-1);
    width: 100px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid var(--red-1);
    cursor: pointer;
    color: var(--black-theme-2);
    padding: 3px 0;
    font-weight: 400;
}
.overview .clear-btn i{
    transition: var(--transition-1);
    color: var(--red-1);
    font-size: 1.2rem;
    vertical-align: middle;
    padding-bottom: 5px;
    background: none;
}
.overview .clear-btn button:hover{
    background-color: var(--red-1);
    color: var(--primary-theme-2);
}
.overview .clear-btn button:hover i{
    color: var(--black-theme-2);
    color: var(--primary-theme-2);
}
.new-expense .title{
    font-size: 1.35rem;
    font-weight: 550;
    margin-bottom:10px ;
}
.new-expense .title span{
    color: var(--secondary-theme-2);
}
.new-expense .info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    font-size:1.15rem ;
    font-weight: 420;
}

.new-expense .info label{
    display: block;
    margin-bottom: 5px;
    font-size: 1.12rem;
    font-weight: 450;

}
.new-expense .info input{
    width: 260px;
    border-radius:5px ;
    padding:  3px;
    border: none;
    font-size: 1.02rem;
    outline: 2.5px solid var(--black-theme-2);
}
.new-expense .info input:focus{
    outline: 2.5px solid var(--secondary-theme-2);
}
.new-expense .add {
    text-align: center;
}
.new-expense .add-btn {
    transition: var(--transition-1);
    width: 100px;
    padding: 4px 0;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid var(--secondary-theme-2);
    cursor: pointer;
}

.new-expense .add-btn i{
    color: var(--secondary-theme-2);
    transition: var(--transition-1);
    font-size: 1.2rem;
    vertical-align: middle;
    margin-bottom: 4px;
    background: none;

}
.new-expense .add-btn:hover{
    background: var(--secondary-theme-2);
    color: var(--primary-theme-2);
}
.new-expense .add-btn:hover i{
    color: var(--primary-theme-2);
}
@media screen and (max-width:700px) {
    .budget{
        width: 95%;
        margin-top: 0px;
    }
    .new-expense .info input{
        width: 100%;
    }  
    .budget .overview-title{
        font-size: 1.7rem;
    } 
    .overview-info {
        font-size: 1.6rem;
    }
    .overview .btn{
        font-size: .9rem;
        padding: 2px 0;
    }
    .new-expense .add-btn {
        font-size: .9rem;
        padding: 2px 0;
    }
    .overview .clear-btn i{
        transition: var(--transition-1);
        font-size: 1rem;
        padding-bottom: 4px;
    }
    .new-expense .add-btn i{
        font-size: 1rem;
    }
    .overview .progress-info{
        font-size: .85rem;
    }
    .new-expense .info label{
        font-size: 1rem;
    }
    .new-expense .info input{
        font-size: .8rem;
        width: 250px;
    }
    .new-expense .info{
        flex-direction: column;
        margin-bottom: 15px;
    }
    .new-expense .info .name,.new-expense .info .amount{
        width: 100%;
    }
    
    .new-expense .add {
      text-align: left;
    }
}
@media screen and (max-width:400px){
    .new-expense .info input::placeholder{
        font-size: .7rem;
    }
    .new-expense .info input{
        font-size: .8rem;
        width: 80%;
    }
}