.budget{
    width: 85%;
    margin: 0 auto ;
    max-width: 1350px;
    margin-top: 30px;
    padding-left: 10px;
}
.budget .overview-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 550;
    margin-bottom: 10px;
}
.budget .overview-title span{
    color: var(--secondary-theme-2);
}
 .overview{
    box-shadow: var(--box-shadow-2);
    padding: 10px 10px 15px 10px ;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto 10px;
}
.overview .overview-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 480;
    font-family: "Bricolage Grotesque";
}
.overview-info .name{
    font-family: "Bricolage Grotesque";
    font-size: 1.8rem;
}
.overview-info .amount{
    font-family: "Bricolage Grotesque";
    font-size: 1.5rem;
    font-weight: 600;
}
.overview .clear-btn{
    text-align: center;
}
.overview .btn{
    transition: var(--transition-1);
    width: 100px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid var(--red-1);
    cursor: pointer;
    color: var(--black-theme-2);
    padding: 3px 0;
    font-weight: 400;
}
.overview .clear-btn i{
    transition: var(--transition-1);
    color: var(--red-1);
    font-size: 1.2rem;
    vertical-align: middle;
    padding-bottom: 5px;
    background: none;
}
.overview .clear-btn button:hover{
    background-color: var(--red-1);
    color: var(--primary-theme-2);
}
.overview .clear-btn button:hover i{
    color: var(--black-theme-2);
    color: var(--primary-theme-2);
}
.new-expense .title{
    font-size: 1.35rem;
    font-weight: 550;
    margin-bottom:10px ;
}
.new-expense .title span{
    color: var(--secondary-theme-2);
}
.new-expense .info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.new-expense .info {
    font-size:1.15rem ;
    font-weight: 420;
}
.new-expense .info label{
    display: block;
    margin-bottom: 5px;
    font-size: 1.12rem;

}
.new-expense .info input{
    width: 250px;
    border-radius:5px ;
    padding:  3px;
    border: none;
    font-size: 1.02rem;
    outline: 2px solid black;
}
.new-expense .info input:focus{
    outline: 2px solid var(--secondary-theme-2);
}
.new-expense .add {
    text-align: center;
}
.new-expense .add-btn {
    transition: var(--transition-1);
    width: 100px;
    padding: 4px 0;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid var(--secondary-theme-2);
    cursor: pointer;
}

.new-expense .add-btn i{
    transition: var(--transition-1);
    background: none;
    font-size: 1.1rem;
    color: var(--secondary-theme-2);
}
.new-expense .add-btn:hover{
    background: var(--secondary-theme-2);
    color: var(--primary-theme-2);
}
.new-expense .add-btn:hover i{
    color: var(--primary-theme-2);
}
