.category-info .expense{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    box-shadow: var(--box-shadow-4);
    margin-bottom: 2px;
}
.category-info .expense:hover{
   background-color: var(--primary-theme-3 );
}
.expense .info{
    padding:  5px ;
}
.expense button{
    border: none;
    cursor: pointer;
}
.expense-icons{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.expense button{
    background: none;
}
.expense button i{
    font-size: 1.4rem;
}
.expense .bx-edit-alt{
    color: var(--green-1);
}
.expense .bx-trash{
    color: var(--red-1);
}
.expense p{
    font-size: 1.1rem;
}
.expense .expense-name p{
    font-weight: 500;
    font-size: 1.2rem;
}
/*********************** Dark Theme *******************/

.App-dark .category-info .expense:hover{
    background-color: var(--black-theme-2a);
 }

@media screen and (max-width:500px) {
    .category-info .expense{
        grid-template-columns: 35% 35% 30%;
    }   
    .expense .expense-name p,.expense .expense-amount p{
        font-size: .9rem;
    }
    .expense button i{
        font-size: 1.1rem;
    }
    .expense .info{
        padding:  5px ;
    }
}