.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    width: 85%;
    margin: 0 auto ;
    max-width: 1350px;
  
}
.header-img img {
    width:400px ;
}

.header-1 h1{
    font-size: 3.5rem;
    letter-spacing: 1.2px;
}
.header-1 .wisely{
    margin-bottom: 10px;
}
.header-1 .thrive{
    margin-bottom: 25px;
    color: var(--secondary-theme-2);
}
.header-title p{
    margin-bottom: 10px;
    font-size: .9rem;
}

.header-title input{
    width: 250px;
    padding: 5px;
    border: 1.5px solid black;
    border-color: var(--black-theme-1);
    outline-color: black;
    font-size: .9rem;
    font-weight: 500;
}

.header-title input::placeholder{
    font-weight: 400;

}
.header-title .name-box:focus{
    outline-color: var(--secondary-theme-2);
}
.header-title .start-btn{
    transition: var(--transition-1);
    width: 130px;
    padding: 6px 2px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: var(--primary-theme-2);
    background: var(--secondary-theme-2);
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .5px;
}
.header-title .start-btn i{
    color: var(--black-theme-2);
    background: none;
    font-size: 1.05rem;
}
.header-title .start-btn:hover{
    background: var(--secondary-theme-3);
} 
.error{
    color: red;
}