.start{
    width: 85%;
    margin: 0 auto ;
    max-width: 1350px;
    margin-top: 50px;
}
.start-header{
    margin-bottom: 25px;
}
.start .start-title{
    font-size: 2rem;
}
.start-p p{
    letter-spacing: 1px;
}
.start .start-title span{
    color: var(--secondary-theme-2);
    font-family: "Bricolage Grotesque",sans-serif;
}
.start-box{
    width: 50%;
    height: 280px;
    box-shadow: var(--box-shadow-4);
    padding: 20px 10px 0 10px;
    border-radius: 10px;
}
.start-box h3{
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.start-box label{
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.start-box .budget-name{
    margin-bottom: 30px;
}
.start-box input{
    width: 380px;
    height: 35px;
    padding: 5px 4px;
    font-size: 1.05rem;
    border-radius: 5px;
}
.start-box input:focus{
   outline: solid 2.5px var(--secondary-theme-1) ;
   border: none;
}