.start{
    width: 85%;
    margin: 0 auto ;
    max-width: 1350px;
    margin-top: 50px;
}
.start-header{
    margin-bottom: 25px;
}
.start .start-title{
    font-size: 2rem;   
}
.start-p p{
    letter-spacing: 1px;
}
.start .start-title span{
    color: var(--secondary-theme-2);
    font-family: "Bricolage Grotesque",sans-serif;
}
.start-box{
    width: 50%;
    box-shadow: var(--box-shadow-4);
    padding: 20px 10px 25px 10px;
    border-radius: 10px;
    background: var(--primary-theme-1);
    position: relative;
}
.start-box h3{
    margin-bottom: 25px;
    font-size: 1.5rem;
    background: var(--primary-theme-1);
}
.start-box h3::after{
  display: block;
  content: "";
  width: 80px;
  height: 4px;
  border-radius: 5px;
  background: var(--secondary-theme-2);

}
.start-box label{
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
    background: var(--primary-theme-1);
}
.start-box .budget-name{
    margin-bottom: 25px;
    background: var(--primary-theme-1);

}
.start-box .budget-amount{
    margin-bottom: 25px;
    background: var(--primary-theme-1);

}
.start-box form{
    background: var(--primary-theme-1);

}
.start-box input{
    width: 60%;
    height: 35px;
    padding: 5px 4px;
    font-size: 1.05rem;
    border-radius: 5px;
    background: var(--primary-theme-1);
}
.start-box input:focus{
   outline: solid 2.5px var(--secondary-theme-1) ;
   border: none;
}
.start-box .create-btn{
    background: var(--secondary-theme-4);
    color: var(--primary-theme-5);
    padding:7px;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}
.start-box .create-btn i{
    background: none;
    color: var(--primary-theme-4);
    color: black;
    vertical-align: middle;
    padding-bottom:2px;
    font-size: 1.4rem;

}
.start-box .create-btn:hover{
    background-color: var(--secondary-theme-2);
}
